@import "tailwindcss";

@layer base {
	:root {
		--font-geist-sans: "Geist Variable", sans-serif;
		--font-liberata: "Literata Variable", serif;
		--font-merriweather: "Merriweather Sans Variable", sans-serif;
	}

    html, body {
        height: 100%;
        width: 100%;
        overflow: hidden; /* Prevent scrolling */
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .inline-grow { 
        text-grow: per-line/consistent scale; 
    }
}

@theme inline {
	--font-geist: var(--font-geist-sans);
	--font-merry: var(--font-merriweather);
	--font-liberata: var(--font-liberata);
}

/* Custom Scrollbar if needed, but we are hiding overflow */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
