@import "tailwindcss";

@utility sofia-sans-font {
	font-family: "Sofia Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@utility playwrite-es-font {
	font-family: "Playwrite ES", cursive;
	font-optical-sizing: auto;
	font-style: normal;
}

@layer base {
	:root {
		--foreground: hsl(0, 0%, 4.44%);
		--background: hsl(0, 0%, 94.44%);
		--accent: hsl(0, 0%, 80.44%);
		--footer: hsl(0, 0%, 93.44%);

		--primary: hsl(233, 81%, 62%);
		--offwhite: hsl(0, 0%, 94.44%);

		@variant dark {
			--foreground: hsl(0, 0%, 94.44%);
			--background: hsl(0, 0%, 4.44%);
			--accent: hsl(0, 0%, 30.44%);
			--footer: hsl(0, 0%, 7.44%);
		}
	}

	html {
		@apply sofia-sans-font bg-background text-foreground;

		*:link {
			@apply underline hover:no-underline;
		}
	}
}

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--color-accent: var(--accent);
	--color-primary: var(--primary);
	--color-offwhite: var(--offwhite);
	--color-footer: var(--footer);
}
